# Profile Service Configuration
PORT=3004
NODE_ENV=development

# Database
MONGODB_URI=mongodb://localhost:27017/studynotion-profiles

# JWT
JWT_SECRET=your_jwt_token

# Frontend URL
FRONTEND_URL=http://localhost:3008

# Auth Service URL
AUTH_SERVICE_URL=http://localhost:3001

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
